# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# Python
*.pyc
__pycache__/

# Django
*.log
logs/
data/
db.sqlite3
db.sqlite3-journal
media/
static/*
static/nested_admin
debug*

# IDEs
.vscode/
.idea/
*.swp

# OS and other files
.DS_Store
Thumbs.db
temp/
*.bak
