# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version


# Python
*.pyc
__pycache__/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

